.header {
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  background-color: var(--gray-800);
  color: #fff;
  height: 80px;
}

.header img {
  height: 2.5rem;
  padding-right: 0.5rem;
}

.header strong {
  font-size: 1.25rem;
}
